openapi: 3.0.0
info:
  title: Border0 Audit Actions Users API
  description: Border0 is an identity-aware Zero Trust network access platform for securing access to servers, databases, Kubernetes clusters, and internal web services. This REST API manages sockets (protected services), policies, connectors, organizations, identity providers, service accounts, sessions, and audit logs.
  version: '1.0'
  contact:
    name: Border0 Support
    email: support@border0.com
    url: https://docs.border0.com
servers:
- url: https://api.border0.com/api/v1
tags:
- name: Users
paths:
  /users/mfa_setup:
    get:
      summary: MFA Setup
      responses:
        '200':
          description: OK
          content:
            image/png:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/v1.BaseErrorResponse'
        '401':
          description: Unauthorized
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/v1.BaseErrorResponse'
        '500':
          description: Internal Server Error
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/v1.BaseErrorResponse'
      operationId: get_users-mfa-setup
      tags:
      - Users
  /users/mfa_challenge:
    post:
      summary: MFA Challenge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1.mfaConfirm'
        description: MFA Code
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.BaseErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.BaseErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.BaseErrorResponse'
      operationId: post_users-mfa-challenge
      tags:
      - Users
  /users/mfa_confirm:
    post:
      summary: MFA Setup Confirm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1.mfaConfirm'
        description: MFa Code
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.BaseErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.BaseErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.BaseErrorResponse'
      operationId: post_users-mfa-confirm
      tags:
      - Users
  /users/organizations/switch:
    post:
      summary: Switch Organization
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1.switchOrgRequest'
        description: Switch Organization
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.BaseErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.BaseErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.BaseErrorResponse'
      operationId: post_users-organizations-switch
      tags:
      - Users
  /users/mfa_disabled:
    put:
      summary: Disable MFA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1.checkPassword'
        description: Login credentials
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.BaseErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.BaseErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1.BaseErrorResponse'
      operationId: put_users-mfa-disabled
      tags:
      - Users
components:
  schemas:
    v1.mfaConfirm:
      type: object
      required:
      - code
      properties:
        code:
          type: string
          maxLength: 12
          minLength: 1
        device_identifier:
          type: string
    v1.BaseErrorResponse:
      type: object
      properties:
        error_message:
          type: string
        status_code:
          type: integer
    v1.switchOrgRequest:
      type: object
      required:
      - org_name
      properties:
        org_name:
          type: string
          maxLength: 200
          minLength: 1
    v1.checkPassword:
      type: object
      required:
      - password
      properties:
        password:
          type: string
          maxLength: 200
          minLength: 1
  securitySchemes:
    Border0_Token:
      type: apiKey
      name: Authorization
      in: header
