{
  "openapi": "3.0.0",
  "info": {
    "title": "Border0 API",
    "description": "Border0 is an identity-aware Zero Trust network access platform for securing access to servers, databases, Kubernetes clusters, and internal web services. This REST API manages sockets (protected services), policies, connectors, organizations, identity providers, service accounts, sessions, and audit logs.",
    "version": "1.0",
    "contact": {
      "name": "Border0 Support",
      "email": "support@border0.com",
      "url": "https://docs.border0.com"
    }
  },
  "servers": [
    {
      "url": "https://api.border0.com/api/v1"
    }
  ],
  "paths": {
    "/organization/identity_provider/{name}": {
      "delete": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Remove a custom identity provider from the current organization",
        "parameters": [
          {
            "description": "Identity provider name",
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "delete_organization-identity-provider-name",
        "tags": [
          "Organization"
        ]
      },
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Get a custom identity provider for the current organization",
        "parameters": [
          {
            "description": "Identity provider name",
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.getIdentityProviderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_organization-identity-provider-name",
        "tags": [
          "Organization"
        ]
      }
    },
    "/organizations/customdomains": {
      "delete": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Delete a custom domain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.customDomain"
              }
            }
          },
          "description": "Delete organization custom domain",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "delete_organizations-customdomains",
        "tags": [
          "Organizations"
        ]
      },
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "List all custom domains",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/serializer.OrganizationCustomDomain"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_organizations-customdomains",
        "tags": [
          "Organizations"
        ]
      },
      "post": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Create a custom domain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.customDomain"
              }
            }
          },
          "description": "Create organization custom domain",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serializer.OrganizationCustomDomain"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "post_organizations-customdomains",
        "tags": [
          "Organizations"
        ]
      },
      "put": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Update a custom domain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.customDomain"
              }
            }
          },
          "description": "Update organization custom domain",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serializer.OrganizationCustomDomain"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "put_organizations-customdomains",
        "tags": [
          "Organizations"
        ]
      }
    },
    "/organizations/iam/service_accounts/{name}/tokens/{token_id}": {
      "delete": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Delete a service account token in the current organization by service account name and token id.",
        "parameters": [
          {
            "description": "Service Account Name (slug)",
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Service Account Token ID (uuid)",
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "delete_organizations-iam-service-accounts-name-tokens-token-id",
        "tags": [
          "Organizations"
        ]
      }
    },
    "/organizations/iam/service_accounts/{name}": {
      "delete": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Delete a service account in the current organization.",
        "parameters": [
          {
            "description": "Service Account Name (slug)",
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "delete_organizations-iam-service-accounts-name",
        "tags": [
          "Organizations"
        ]
      },
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Retrieve a service account in the current organization by name.",
        "parameters": [
          {
            "description": "Service Account Name (slug)",
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serviceaccount.Full"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_organizations-iam-service-accounts-name",
        "tags": [
          "Organizations"
        ]
      },
      "put": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Update a service account in the current organization by name.",
        "parameters": [
          {
            "description": "Service Account Name (slug)",
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.serviceAccountUpdatePayload"
              }
            }
          },
          "description": "Service Account Update Request",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serviceaccount.Full"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "put_organizations-iam-service-accounts-name",
        "tags": [
          "Organizations"
        ]
      }
    },
    "/organizations/notifications/{name}": {
      "delete": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Delete a notification",
        "parameters": [
          {
            "description": "Notification name",
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "delete_organizations-notifications-name",
        "tags": [
          "Organizations"
        ]
      },
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Describe a notification",
        "parameters": [
          {
            "description": "Notification name",
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serializer.OrganizationNotification"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_organizations-notifications-name",
        "tags": [
          "Organizations"
        ]
      },
      "put": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Update a notification",
        "parameters": [
          {
            "description": "Notification name",
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.notificationUpdateRequest"
              }
            }
          },
          "description": "Update organization notification",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serializer.OrganizationNotification"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "put_organizations-notifications-name",
        "tags": [
          "Organizations"
        ]
      }
    },
    "/organizations/recording_storage": {
      "delete": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Unset the organization's recording storage",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "delete_organizations-recording-storage",
        "tags": [
          "Organizations"
        ]
      },
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Verify the recording storage",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serializer.OrganizationRecordingStorage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_organizations-recording-storage",
        "tags": [
          "Organizations"
        ]
      },
      "post": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Create a recording storage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.recordingStorageRequest"
              }
            }
          },
          "description": "Create organization recording strage",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serializer.OrganizationRecordingStorage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "post_organizations-recording-storage",
        "tags": [
          "Organizations"
        ]
      }
    },
    "/organizations/tokens": {
      "delete": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Disable an access token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.deleteToken"
              }
            }
          },
          "description": "Disable access token",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "delete_organizations-tokens",
        "tags": [
          "Organizations"
        ]
      },
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Disable an access token",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_organizations-tokens",
        "tags": [
          "Organizations"
        ]
      },
      "post": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Create a new access token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.createToken"
              }
            }
          },
          "description": "Create access token",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "post_organizations-tokens",
        "tags": [
          "Organizations"
        ]
      }
    },
    "/policy/{uuid}": {
      "delete": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "delete a policy by id",
        "parameters": [
          {
            "description": "Policy ID",
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serializer.Policy"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "delete_policy-uuid",
        "tags": [
          "Policy"
        ]
      },
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "get a policy by id",
        "parameters": [
          {
            "description": "Policy ID",
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/serializer.Policy"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_policy-uuid",
        "tags": [
          "Policy"
        ]
      },
      "put": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Updates a policy but not updates the associations",
        "parameters": [
          {
            "description": "Policy ID",
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.updatePolicyRequest"
              }
            }
          },
          "description": "Policy data",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/serializer.Policy"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "put_policy-uuid",
        "tags": [
          "Policy"
        ]
      }
    },
    "/socket/{socket_id_or_name}/tunnel/{tunnel_id}": {
      "delete": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Delete one tunnel from a socket by socket ID and tunnel ID",
        "parameters": [
          {
            "description": "Socket ID or Name that the tunnel is associated with",
            "name": "socket_id_or_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Tunnel ID",
            "name": "tunnel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "delete_socket-socket-id-or-name-tunnel-tunnel-id",
        "tags": [
          "Socket"
        ]
      },
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Show one tunnel from a socket by socket ID and tunnel ID",
        "parameters": [
          {
            "description": "Socket ID or Name that the tunnel is associated with",
            "name": "socket_id_or_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Tunnel ID",
            "name": "tunnel_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serializer.Tunnel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_socket-socket-id-or-name-tunnel-tunnel-id",
        "tags": [
          "Socket"
        ]
      }
    },
    "/socket/{socket_id_or_name}": {
      "delete": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Delete a socket by ID",
        "parameters": [
          {
            "description": "Socket ID or name",
            "name": "socket_id_or_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "delete_socket-socket-id-or-name",
        "tags": [
          "Socket"
        ]
      },
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Show a socket by ID",
        "parameters": [
          {
            "description": "Socket ID or Name",
            "name": "socket_id_or_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serializer.Socket"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_socket-socket-id-or-name",
        "tags": [
          "Socket"
        ]
      },
      "put": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Update a socket by ID",
        "parameters": [
          {
            "description": "Socket ID or Name",
            "name": "socket_id_or_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.updateSocketRequest"
              }
            }
          },
          "description": "Update socket",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serializer.Socket"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "put_socket-socket-id-or-name",
        "tags": [
          "Socket"
        ]
      }
    },
    "/audit_actions/actors": {
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Show all actors from a given organization",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_audit-actions-actors",
        "tags": [
          "Audit Actions"
        ]
      }
    },
    "/audit_actions": {
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Show all audit logs from organization",
        "parameters": [
          {
            "description": "Action Email",
            "name": "actor_email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource Type",
            "name": "resource_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Resource id",
            "name": "resource_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page",
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page size",
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/serializer.AuditActionPublic"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_audit-actions",
        "tags": [
          "Audit Actions"
        ]
      }
    },
    "/client/auth/org/{slug}": {
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Authenticate a client with headers against organization email",
        "parameters": [
          {
            "description": "Organization email address the client will authenticate against",
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Redirect URL path",
            "name": "redirectpath",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Redirect URL port",
            "name": "port",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client's email address from OIDC claims",
            "name": "X-Auth-Email",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client's subject identifier from OIDC claims",
            "name": "X-Auth-Subject",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client's name from OIDC claims",
            "name": "X-Auth-Name",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client's profile picture from OIDC claims",
            "name": "X-Auth-Picture",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect URL",
            "headers": {
              "Location": {
                "description": "http://localhost:{port}{redirectpath}?token={token} or http://localhost{port}{redirectpath}?token=&error=org_not_found on error",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_client-auth-org-slug",
        "tags": [
          "Client"
        ]
      }
    },
    "/client/cda/get_token": {
      "get": {
        "summary": "Fetches a client token in exchange for a device authorization code previously authorized via the (OAuth2.0) client device authorization flow",
        "parameters": [
          {
            "description": "API-issued client device authorization code",
            "name": "x-client-device-authorization-code",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.getClientDeviceAuthorizationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_client-cda-get-token",
        "tags": [
          "Client"
        ]
      }
    },
    "/client/resources": {
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Show socket client resources",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.clientResourceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_client-resources",
        "tags": [
          "Client"
        ]
      }
    },
    "/connect": {
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Show all connected sockets",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/serializer.Socket"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_connect",
        "tags": [
          "Connect"
        ]
      },
      "post": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Create a socket connection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.createSocketRequest"
              }
            }
          },
          "description": "Connect to socket",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serializer.Socket"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "post_connect",
        "tags": [
          "Connect"
        ]
      }
    },
    "/mtls-ca/socket/{socket_dnsname}/auth": {
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Generate a JWT for CA request on socket's DNS name",
        "parameters": [
          {
            "description": "Socket DNS name",
            "name": "socket_dnsname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Redirect URL path",
            "name": "redirectpath",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Redirect URL port",
            "name": "port",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Email address from OIDC claims",
            "name": "X-Auth-Email",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Subject identifier from OIDC claims",
            "name": "X-Auth-Subject",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name from OIDC claims",
            "name": "X-Auth-Name",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Profile picture from OIDC claims",
            "name": "X-Auth-Picture",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Nickname from OIDC claims",
            "name": "X-Auth-Nickname",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect URL",
            "headers": {
              "Location": {
                "description": "http://localhost:{port}{redirectpath}?token={token}",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_mtls-ca-socket-socket-dnsname-auth",
        "tags": [
          "Mtls-Ca"
        ]
      }
    },
    "/organization/identity_providers": {
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "List all identity providers for the current organization",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.getIdentityProvidersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_organization-identity-providers",
        "tags": [
          "Organization"
        ]
      }
    },
    "/organizations/iam/service_accounts/{name}/tokens": {
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Retrieve a service account tokens based on a service account name.",
        "parameters": [
          {
            "description": "Service Account Name (slug)",
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.getServiceAccountsTokensResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_organizations-iam-service-accounts-name-tokens",
        "tags": [
          "Organizations"
        ]
      },
      "post": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Create a service account token in the current organization.",
        "parameters": [
          {
            "description": "Service Account Name (slug)",
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.serviceAccountTokenDetailsPayload"
              }
            }
          },
          "description": "Service Account Token Creation Request",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.postServiceAccountTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "post_organizations-iam-service-accounts-name-tokens",
        "tags": [
          "Organizations"
        ]
      }
    },
    "/organizations/iam/service_accounts": {
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Retrieve the list of all service accounts in the current organization.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.getServiceAccountsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_organizations-iam-service-accounts",
        "tags": [
          "Organizations"
        ]
      },
      "post": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Create a service account in the current organization.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.serviceAccountCreatePayload"
              }
            }
          },
          "description": "Service Account Creation Request",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serviceaccount.Full"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "post_organizations-iam-service-accounts",
        "tags": [
          "Organizations"
        ]
      }
    },
    "/organizations/notifications": {
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "List all notifications",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/serializer.OrganizationNotification"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_organizations-notifications",
        "tags": [
          "Organizations"
        ]
      },
      "post": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Create a notification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.notificationRequest"
              }
            }
          },
          "description": "Create organization notification",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serializer.OrganizationNotification"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "post_organizations-notifications",
        "tags": [
          "Organizations"
        ]
      }
    },
    "/policies/find": {
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "find policies by a specific param",
        "parameters": [
          {
            "description": "Name",
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/serializer.Policy"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serializer.Policy"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_policies-find",
        "tags": [
          "Policies"
        ]
      }
    },
    "/policies": {
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "get policies paginated",
        "parameters": [
          {
            "description": "Page",
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page size",
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/serializer.Policy"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_policies",
        "tags": [
          "Policies"
        ]
      },
      "post": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Create a new policy and attach sockets to them",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/serializer.Policy"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serializer.Policy"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "post_policies",
        "tags": [
          "Policies"
        ]
      }
    },
    "/session/{socket_id}/{session_id}/session_log": {
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Download a socket's session recording",
        "parameters": [
          {
            "description": "Socket ID",
            "name": "socket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Session ID",
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Recording ID",
            "name": "recording_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/restful.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/restful.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/restful.ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_session-socket-id-session-id-session-log",
        "tags": [
          "Session"
        ]
      }
    },
    "/session/{socket_id}/{session_id}": {
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Show a socket's session info by socket ID and session ID",
        "parameters": [
          {
            "description": "Socket ID",
            "name": "socket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Session ID",
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serializer.SessionLogPublic"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_session-socket-id-session-id",
        "tags": [
          "Session"
        ]
      },
      "put": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Kill a socket's session with socket ID, session ID and json payload with killed flag",
        "parameters": [
          {
            "description": "Socket ID",
            "name": "socket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Session ID",
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1.sessionLogRequest"
              }
            }
          },
          "description": "Kill session flag",
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serializer.SessionLogPublic"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "put_session-socket-id-session-id",
        "tags": [
          "Session"
        ]
      }
    },
    "/session/{socket_id}": {
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Show all sessions from a socket by socket ID, including active and killed sessions",
        "parameters": [
          {
            "description": "Socket ID",
            "name": "socket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/serializer.SessionLogPublic"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1.BaseErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_session-socket-id",
        "tags": [
          "Session"
        ]
      }
    },
    "/sessions/stats/{stats_type}": {
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Get session stats by type (locations, sockets, users)",
        "parameters": [
          {
            "description": "Stats type",
            "name": "stats_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "locations",
                "sockets",
                "users"
              ]
            }
          },
          {
            "description": "Socket names to filter by",
            "name": "socket_names",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "User emails to filter by",
            "name": "user_emails",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Auth result to filter by",
            "name": "auth_result",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "success",
                "denied"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/serializer.SessionLogStats"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/restful.ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/restful.ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/restful.ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/restful.ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "get_sessions-stats-stats-type",
        "tags": [
          "Sessions"
        ]
      }
    },
    "/sessions": {
      "get": {
        "security": [
          {
            "Border0_Token": []
          }
        ],
        "summary": "Show all sessions from a organization",
        "parameters": [
          {
            "description": "Current page",
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page size",
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Socket names to filter by",
            "name": "socket_names",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "User emails to filter by",
            "name": "user_emails",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Auth result to filter by",
[...]
